@{
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
    ViewData["PageTitle"] = "Quản lý tài khoản ngân hàng";
}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <h1>Chưa triển khai!</h1>
</main>