@{
    Layout = "_Layout";
}
@section Style{
    <style>
        .success-message {
            background-color: #4CAF50; /* Màu nền xanh lá cây */
            color: white; /* Màu chữ trắng */
            padding: 20px; /* Khoảng cách nội dung từ viền */
            text-align: center; /* Căn giữa nội dung */
            font-size: 18px; /* Cỡ chữ */
            border-radius: 5px; /* Đường viền cong */
            margin-bottom: 20px; /* Khoảng cách dưới */
        }
    </style>
}
<div class="success-message">Nạp tiền thành công!!!</div>