@{
    Layout = "_Layout";

}
@section Style{
    <style>
        .error-message {
            background-color: #f44336; /* Màu nền đỏ */
            color: white; /* Màu chữ trắng */
            padding: 20px; /* Khoảng cách nội dung từ viền */
            text-align: center; /* Căn giữa nội dung */
            font-size: 18px; /* Cỡ chữ */
            border-radius: 5px; /* Đường viền cong */
            margin-bottom: 20px; /* Khoảng cách dưới */
        }
    </style>
}

<div class="error-message">Lỗi rồi!!!!!!!!!!!</div>
<div class="error-message"> @TempData["Message"]</div>