@{
    ViewData["Title"] = "Hướng dẫn sử dụng hệ thống";
    Layout = "_Layout";
}
@section Style{
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        h1 {
            margin-bottom: 30px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
}
<div class="container mt-5">
    <h1 class="text-center">Hướng dẫn sử dụng hệ thống</h1>

    <div class="mt-5">
        <h2>Đối với người bán:</h2>
        <ul>
            <li>Chọn các gói có trên hệ thống của chúng tôi, thanh toán để đăng bài và chờ kiểm duyệt. Sau khi được duyệt, bài đăng sẽ được hiển thị trên hệ thống. Nếu không được duyệt, chúng tôi sẽ hoàn trả tiền vào tài khoản của bạn.</li>
            <li>Khi người mua nhắn tin và đặt hàng, tự thanh toán với nhau. Chúng tôi không giữ tiền đơn hàng.</li>
            <li>Thanh toán để chấp nhận đơn hàng.</li>
        </ul>
    </div>

    <div class="mt-5">
        <h2>Đối với người mua:</h2>
        <ul>
            <li>Nhắn tin với người bán, thảo luận chi tiết về sản phẩm, điền thông tin vào đơn mua hàng.</li>
        </ul>
    </div>
</div>
